<html>
<head>
<script>
document.getElementById('img1').style.display="None";
document.getElementById('img2').style.display="None";
document.getElementById('img3').style.display="None";

function afficher(){
	if(document.getElementById('img1').checked){
		document.getElementById('img1').style.display="Block";
}
	else if(document.getElementById('img2').checked){
		document.getElementById('img2').style.display="Block";
}
	else if(document.getElementById('img3').checked){
		document.getElementById('img3').style.display="Block";
}
</script>
</head>
<body>
<h2>Images à afficher :</h2>
<hr/>
<p>Image 1<input type="checkbox" id="img1"></p>
<p>Image 2<input type="checkbox" id="img2"></p
<p>Image 3<input type="checkbox" id="img3"></p
<button onclick="afficher()">Afficher</button>
	
<div>
<img src="{{ url_for('static', filename='image/img1.png') }}" alt="Logo">
<img src="{{ url_for('static', filename='image/img2.png') }}" alt="Logo">
<img src="{{ url_for('static', filename='image/img3.png') }}" alt="Logo">
</div>
</body>
</html>
